<%- include("header") -%>

<div class="col-md-6 mx-auto other-details">
    <div class="text">
        <h1>
            About us
        </h1>
        <p1>
            Ashutosh's Project 
        </p1>

    </div>

    <div class="text ">
        <h1>
           Contact us
        </h1>
        <p1>
            bank contact here
        </p1>
    </div>
    <div class="text ">
        <h1>Note</h1>
        <p1>note here</p>
    </div>

    <div class="text">
        
        <h1 >OUR PROFILES</h1>
        <div >
            <a href="https://www.linkedin.com/in/ashutosh-tripathi-4a8822195/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/ashuratul"><i class="fab fa-github-square"></i></a>
        </div>
    </div>
</div>

<%- include("footer") -%>